body {
    font-family: sans-serif;
    background-color: lightskyblue;
}
.headline {
    text-align: center;
    background-color: rgb(55, 55, 236);
    background: linear-gradient(to bottom, rgb(13, 13, 231) 5%, lightskyblue);
    color: white;
    padding: 15px;
}
.favorable {
    background-color: green;
}
.moderate {
    background-color: yellow;
    color: black;
}
.severe {
    background-color: red;
}
.card {
    border-radius: 15px;
    background-color: white;
}
.card-body, .jumbotron {
    border-radius: 15px;
    color: white;
    background-color: lightskyblue;
    border: 1.5px solid white;
}
.btn-secondary {
    border-radius: 15px;
    color: white;
    background-color: rgb(13, 13, 231);
}
#citySearch, #searchBtn {
    border-radius: 15px;
}